
h1 {
    font-family: Kurale, monospace;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: yellow;
}

#creditsTitle {
    font-family: Kurale, sans-serif;
}

h1,
h2,
p,
table,
tr {
    text-align: center;
}

.img-circle {
    background-image: url("http://www.xxlmag.com/files/2015/09/kevin-gates-isah-cover.jpg?w=300&h=200&zc=1&s=0&a=t&q=89");
    background-size: 300px 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
}

#backgroundBlock {
    background-color: #8899BB;
    position: absolute;
    width: 100%;
    height: 29em;
    z-index: -1;
}

#credits {
    background-color: #676;
    display: inline-block;
}

#credits ul li {
    font-style: italic;
}

.table {
    border: 1px solid black;
    background-color: #768;
}

tr:nth-child(even) {
    background-color: darkorange;
}

td {
    border: 2px solid black;
    font-style: italic;
}

thead tr td {
    font-style: normal;
    font-size: 19px;
}