* {
    font-family: cursive;
}

html,
body {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#header {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

#content {
    width: 100%;
    height: 940px;
}

#description {
    margin: 0 auto;
    width: 400px;
    border: 1px solid black;
}

#navi {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    float: left;
    border-bottom: 1px solid black;
}

#footer {
    float: left;
    width: 100%;
    height: 100px;
}

#footer>div {
    text-align: center;
}

nav ul {
    display: inline;
    margin-left: -2em;
}

nav ul li {
    display: inline;
    margin: 2em;
}

h1 {
    text-align: center;
    font-size: 64px;
}